<!DOCTYPE html>
<html>
    <head>
        <title>Documents / Live Area</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ url_for('frontend', path='favicon.png') }}">
    </head>
    <body>
        <div id="livearea-app"></div>
        <script
            type="text/javascript"
            src="{{ url_for('frontend', path='dist/document-list.bundle.js') }}"
        ></script>
    </body>
</html>
